{% extends 'main/layout.html' %}

{% block title %}Main page{% endblock %}    

{% block content %}
    <div class="features">
        <h1>Contacts</h1>
        <p class="features_text">You can contact us via <a href="mailto:aayankova@edu.hse.ru" class="internal_link">aayankova@edu.hse.ru</a>.
        </p>

        <p class="features_text">This project is supported by <a href="https://www.hse.ru/" class="internal_link" target="_blank" >HSE University</a>. 
        </p>
    
    </div>
{% endblock %}    