{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

</head>
<body>
    <aside onmousedown='return false;' onselectstart='return false;'>
      <a href="{% url 'home' %}"><img src="{% static 'main/img/logo.PNG' %}" alt="Logo" class="logo"></a>
        <!--<span class="logo_name">Profile Analyzer</span>-->
        <!--<h3 class="nav">Navigation</h3>-->
        <ul>
            <a href="{% url 'home' %}"><li><img src="{% static 'main/img/house-solid.svg' %}" alt="Logo" class="nav_icon">Main</li></a>
            <a href="{% url 'about' %}"><li><img src="{% static 'main/img/info-solid.svg' %}" alt="Logo" class="nav_icon">About</li></a>
            {% if user.is_authenticated %}
            <a href="{% url 'search_home' %}"><li><img src="{% static 'main/img/magnifying-glass-solid.svg' %}" alt="Logo" class="nav_icon">Search</li></a>
            {% endif %}
            <a href="{% url 'contacts' %}"><li><img src="{% static 'main/img/address-book-solid.svg' %}" alt="Logo" class="nav_icon">Contacts</li></a>
            
        </ul>
        <div class="auth" onmousedown='return false;' onselectstart='return false;'>
            {% if user.is_authenticated %}
            <p>Hello, {{ user.username }}!<p>
              <a class="auth_clickable" href="{% url 'logout' %}">Log Out</a>
            {% else %}
              <a class="auth_clickable" href="{% url 'login' %}">Log In</a>
              <a class="auth_clickable" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>